# Backend
FightTracker-Complete/target/
FightTracker-Complete/.idea/

# Frontend
fighttracker-angular-complete/node_modules/
fighttracker-angular-complete/dist/
fighttracker-angular-complete/.angular/
FightTracker-Complete/src/main/resources/application.properties
src/main/resources/application.properties
# Geral
.idea/
.vscode/
*.log